.About {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    top: 15%;
    left: 27%;
    position: fixed;
}

.cursor {
    color: #FAFDFF;
}

.firebase {
    position:fixed;
    top:72%;
    left:39%;
}

.heroku {
    position:fixed;
    top:72%;
    left:46.25%;
}

.media {
    position:fixed;
    top:69%;
    left:56%;
}

.sql {
    position:fixed;
    top:75%;
    left:56.5%;
}

#welcome {
    text-align: left;
    font-size: 40px;
    animation: fadeInDown ease 1s;
}

#aboutMe {
    transform: translate(10%,5%);
    width: 780px;
    height:500px;
    text-align: left;
    line-height: 1.5;
    animation: fadeInDown ease 1s;
}

#verticalLine:before,
#verticalLine:after {
    content: "";
    width: 1px; /* color white ("no color") color (each 2px wide); here you can adjust the width */
    height: 0;
    background: rgb(137, 174, 209); /* here you can adjust the spacing */
    position: absolute; /* needs to be absolute */
    top: 10%;
    left: 5%;
    animation: linedown 1s forwards;
}

@keyframes linedown {100% {height: 50%}}


@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(auto);
    }
}