.Albums {
    font-family: 'Courier New', Courier, monospace;
}

.album {
    position:fixed;
    text-align: left;
    top: 200px;
    left: 525px;
    height: 510px;
    width: 880px;
    overflow-y: auto;
    animation: fadeInDown ease 1s;
}

.album::-webkit-scrollbar-track {
    background-color: transparent;
}

.album::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

.view {
    transform: translate(5%,2.5%);
    animation: fadeInDown ease 1s;
}

.imageModal {
    position: fixed;
    top: 5%;
    left: 30%;
    z-index: 100;
    height: 90vh;
    min-height: 200px;
    width: 40vw;
    min-width: 100px;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
}

.uploadImageModal {
    position: fixed;
    top: 30%;
    left: 35%;
    z-index: 100;
    height: 20vh;
    min-height: 200px;
    width: 30vw;
    min-width: 200px;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
}

.uploadImage {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 10px;
    left: 15px;
}

#imageSubmit {
    background: rgb(216, 236, 255);
    border: 1px solid #245779;
    border-radius: .3rem;
    color: #245779;
    padding: 2px 5px 2px 5px;
}

#imageSubmit:hover {
    cursor: pointer;
    background-color: rgb(116, 159, 199);
    color: #FAFDFF;
    border: 1px solid #245779;
}

.createAlbumModal {
    position: fixed;
    top: 30%;
    left: 35%;
    z-index: 100;
    height: 20vh;
    min-height: 200px;
    width: 30vw;
    min-width: 200px;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
}

.createAlbum {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 10px;
    left: 15px;
}

#albumSubmit {
    background: rgb(216, 236, 255);
    border: 1px solid #245779;
    border-radius: .3rem;
    color: #245779;
    padding: 2px 5px 2px 5px;
}

#albumSubmit:hover {
    cursor: pointer;
    background-color: rgb(116, 159, 199);
    color: #FAFDFF;
    border: 1px solid #245779;
}

.images {
    position: relative;
    top: 15px;
    left: 20px;
    width: 38vw;
    height: 85vh;
    overflow: auto;
}

#albumInImage {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 5px;
    left: 20px;
}

#newAlbum {
    position: fixed;
    font-family:'Courier New', Courier, monospace;
    font-size: 15.4px;
    border: none;
    background: none;
    top: 155px;
    left: 1225px;
    animation: fadeInDown ease 1s;
}

#newAlbum:hover {
    cursor:pointer;
    color:rgb(106, 146, 184);
}

#albumMenu {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15.4px;
    position: fixed;
    top: 155px;
    left: 507px;
    border: none;
    outline: 0;
    background-color: #FAFDFF;
}

#albumMenu:hover {
    cursor:pointer;
}

#border {
    position: fixed;
    border: 1px solid rgb(173, 197, 218);
    border-radius: 5px;
    height: 540px;
    width: 900px;
    top: 170px;
    left: 465px;
}

.albumBorder {
    border: 1px solid rgb(203, 224, 241);
    background: rgb(226, 238, 248);
    border-radius: 5px;
    height: 20%;
    width: auto;
}

.albumBorder:hover {
    /* background: #f2f9fd; */
    border: 1px solid rgb(137, 158, 175);
}

.albumEntry {
    padding-top: 5%;
}

.albumButton {
    border: none;
    background: none;
    font-family:'Courier New', Courier, monospace;
    color: blue;
}

.albumButton:hover {
    cursor: pointer;
    color: rgb(106, 146, 184);
}

#statusButton {
    position: absolute;
    color: black;
    right: 16%;
}

#statusButton:hover {
    color: rgb(106, 146, 184);
}

#uploadButton {
    position: absolute;
    color: black;
    right: 8%;
}

#uploadButton:hover {
    color: rgb(106, 146, 184);
}

#deleteButton {
    position: absolute;
    right: .5%;
    color: red;
}

#deleteButton:hover {
    color: rgb(253, 117, 117);
}

#deleteImage {
    border: none;
    background: none;
    font-family:'Courier New', Courier, monospace;
    color: red;
}

#deleteImage:hover {
    cursor: pointer;
    color: rgb(253, 117, 117);
}

.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  
  .loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
