.Homepage {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#title {
    position: fixed;
    top: 26%;
    left: 40%;
    text-align: left;
    font-size: 50px;
    animation: fadeInDown ease 1s;
}

.verticalLine:before,
.verticalLine:after {
    content: "";
    width: 1px; /* color white ("no color") color (each 2px wide); here you can adjust the width */
    height: 0;
    background: rgb(137, 174, 209); /* here you can adjust the spacing */
    position: absolute; /* needs to be absolute */
    top: 25%;
    left: 46%;
    animation: linedown 2s forwards;
}

@keyframes linedown {100% {height: 40%}}

.list1 {
    top: 37%;
    left: 48%;
    position: fixed;
    text-align: left;
    font-size: 17px;
    text-align: left;
    animation: fadeInDown ease 1s;
}

.list2 {
    top: 43%;
    left: 48%;
    position: fixed;
    text-align: left;
    font-size: 17px;
    text-align: left;
    animation: fadeInDown ease 1s;
}

.list3 {
    top: 49%;
    left: 48%;
    position: fixed;
    text-align: left;
    font-size: 17px;
    text-align: left;
    animation: fadeInDown ease 1s;
}

.list4 {
    top: 55%;
    left: 48%;
    position: fixed;
    text-align: left;
    font-size: 17px;
    text-align: left;
    animation: fadeInDown ease 1s;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(auto);
    }
}
