.Navigation {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
}

.loginModal {
    position: fixed;
    top: 25%;
    left: 40%;
    z-index: 100;
    height: 40vh;
    min-height: 200px;
    width: 20vw;
    min-width: 200px;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
}

.regModal {
    position: fixed;
    top: 25%;
    left: 40%;
    z-index: 100;
    height: 40vh;
    width: 20vw;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
}

/* .modal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 100;
    pointer-events: auto;
    background-color: #FAFDFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    animation: fadeInDown ease 0.7s;
} */

/* .loginModal {
}

.regModal {

} */

/* #regModal {
    animation: fade ease 0.5s;
} */

@keyframes fade {
    0% {
        opacity: 0;
     }
     100% {
        opacity: 1;
     }
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.25);
}

body {
    background-color: #FAFDFF;
    /* background-color:#FFFCF8; */
}

.login {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.register {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#menu {
    position: fixed;
    top:16%;
    left:15%;
}

.primary {
    background: rgb(216, 236, 255);
    border: 1px solid #245779;
    border-radius: .3rem;
    color: #245779;
    padding: 2px 5px 2px 5px;
}

.primary:hover {
    cursor: pointer;
    background-color: rgb(116, 159, 199);
    color: #FAFDFF;
    border: 1px solid #245779;
}

.secondary {
    border: none;
    background: none;
}

.secondary:hover {
    cursor: pointer;
    color: blue;
}

.button {
    position: fixed;
    font-family:'Courier New', Courier, monospace;
    font-size: 15.4px;
    padding:0;
    border: none;
    background: none;
}

.button:hover {
    cursor:pointer;
    color:blue;
}

#logoutButton {
    color: red;
}

#logoutButton:hover {
    cursor: pointer;
    color: rgb(253, 117, 117);
}

#links {
    position: fixed;
    top: 82%;
    left: 79%;
}

.navLink {
    position: fixed;
    text-align: left;
    /* padding-right: 100px;
    margin-right:100px; */
}

.logMsg {
    color:red;
    animation: hideAnimation 0.25s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    from { opacity: 1;}
    to { opacity: 0;}
}

a {
    position: relative;
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

a:visited {
    color: black;
}

.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  
  .loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  